html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
li,
ul,
figure {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.woff2), url(../fonts/Montserrat-Medium.woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.woff2), url(../fonts/Montserrat-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.woff2), url(../fonts/Montserrat-ExtraBold.woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    min-width: 100%;
}


/* globe */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1770px;
    width: 94%;
    margin: 0 auto;
}

.section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}

.btn {
    background-color: #FF9900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


/* header */

.header {
    position: relative;
    padding: 13px 0 10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__item {
    display: flex;
}

.close-btn {
    display: none;
}

.menu__link {
    margin-right: 85px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    border-bottom: 2px solid transparent;
    transition: color .3s ease, border .3s ease;
}

.menu__link:focus {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}

.menu__link:hover {
    border-bottom: 2px solid #FF9900;
}

.menu__link:active {
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
    outline: none;
}

.search-field {
    position: relative;
}

.nav__search-btn {
    cursor: pointer;
}

.nav__search-btn rect,
path {
    transition: fill .3s ease, stroke .3s ease;
}

.nav__search-btn:focus {
    outline: 2px solid #FF9900;
    outline-offset: 4px;
}

.nav__search-btn:hover rect {
    fill: #FF9900;
}

.nav__search-btn:hover path {
    stroke: #FF9900;
}

.search-menu {
    display: none;
    opacity: 0;
}

.search-menu--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 13px 18px 32px;
    position: absolute;
    width: 539px;
    right: -57px;
    top: -22px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
    border-radius: 16px;
    animation: show 1s 1;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.search-menu__input {
    width: 412px;
    margin-right: 14px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search-menu__input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search-menu .nav__search-btn {
    margin-right: auto;
}

.search-menu__close-btn {
    cursor: pointer;
}

.search-menu__close-btn rect,
.search-menu__close-btn circle {
    transition: fill .3s ease, stroke .3s ease;
}

.search-menu__close-btn:focus {
    outline: 2px solid #FF9900;
    outline-offset: 4px;
}

.search-menu__close-btn:hover rect {
    fill: #FF9900;
}

.search-menu__close-btn:hover circle {
    stroke: #FF9900;
}

.search-menu__close-btn:active rect {
    fill: #333333;
}

.search-menu__close-btn:active circle {
    stroke: #333333;
}


/* hero */

.hero {
    position: relative;
}

.hero__container {
    display: flex;
    position: relative;
    min-height: 620px;
    margin-bottom: 100px;
}

.hero .swiper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.swiper-bg-1 {
    min-height: 620px;
    background: url('../img/hero-bg.jpg');
    background-size: cover;
}

.swiper-bg-2 {
    min-height: 620px;
    background: url('../img/hero-bg-2.jpg');
    background-size: cover;
}

.swiper-bg-3 {
    min-height: 620px;
    background: url('../img/hero-bg-3.jpg');
    background-size: cover;
}

.hero__text {
    position: relative;
    margin-bottom: 99px;
    padding: 100px 0 0 80px;
    max-width: 900px;
    z-index: 5;
}

.hero__title {
    margin: 0;
    color: #fff;
}

.hero__title {
    max-width: 837px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.hero__descr {
    width: 837px;
    margin-bottom: 90px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.hero__btn {
    padding: 25px 36px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    transition: background .3s ease;
}

.hero__btn:focus {
    background: rgba(255, 153, 0, 0.7);
}

.hero__btn:hover {
    background: rgba(255, 153, 0, 0.7);
    outline: none;
}

.hero__btn:active {
    background: #E1670E;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 25px;
    left: 0;
    width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: #FFFFFF;
}


/* about */

.section-about {
    margin-bottom: 101px;
}

.section-about__title {
    margin-bottom: 20px;
}

.section-about__descr {
    max-width: 1235px;
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.section-about__cards {
    display: flex;
    justify-content: space-between;
}

.section-about__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;
    background: center center url(../img/aboutleft-bg.jpg) no-repeat;
    background-size: cover;
}

.section-about__left-descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.left-descr {
    max-width: 454px;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.left-descr__btn {
    padding: 17px 35px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border: 3px solid #FF9900;
    cursor: pointer;
    transition: background .3s ease, border .3s ease;
}

.left-descr__btn:focus,
.left-descr__btn:hover {
    background: #FF9900;
}

.left-descr__btn:active {
    background: #E1670E;
    border: 3px solid #E1670E;
}

.section-about__right {
    display: flex;
    flex-direction: column;
    width: 49.15%;
}

.right-article {
    display: flex;
    justify-content: space-between;
    padding: 65px 118px 60px 59px;
    border: 1px solid #CACACA;
}

.right-article:not(:last-child) {
    margin-bottom: 30px;
}

.right-article__preview {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

.right-article__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.right-article__descr {
    max-width: 450px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}


/* work */

.section-work {
    margin-bottom: 101px;
}

.section-work__title {
    margin-bottom: 49px;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
    width: 26%;
    margin-bottom: 46px;
}

.tabs-nav__btn {
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color .3s ease;
}

.tabs-nav__btn:hover {
    color: #FF9900;
}

.tabs-nav__btn--active {
    color: #E1670E;
    outline: none;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: flex;
    justify-content: space-between;
    min-height: 470px;
}

.tabs-item__left {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.tabs-item__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.tabs-item__descr {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.tabs-item__btns {
    display: flex;
    margin-top: auto;
}

.tabs-item__btn {
    margin-right: 32px;
    padding: 20px 38px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF9900;
    border: none;
    transition: background .3s ease;
}

.tabs-item__btn:focus {
    background: #F7B045;
}

.tabs-item__btn:hover {
    background: #F7B045;
}

.tabs-item__btn:active {
    background: #E1670E;
}

.tabs-item__btn-contract {
    padding: 19px 38px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background: transparent;
    border: 1px solid #333333;
    transition: color .3s ease, background .3s ease, border .3s ease;
}

.tabs-item__btn-contract:focus {
    color: #FFFFFF;
    background: #666666;
    border: 1px solid #666666;
}

.tabs-item__btn-contract:hover {
    color: #FFFFFF;
    background: #666666;
    border: 1px solid #666666;
}

.tabs-item__btn-contract:active {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
}

.tabs-item__right {
    display: flex;
    flex-direction: column;
    width: 49.1%;
    background-size: cover;
    background-position: center 9px;
    background-repeat: no-repeat;
}

.tabs-item__right-bg1 {
    background-image: url(../img/section-work-bg1.jpg);
}

.tabs-item__right-bg2 {
    background-image: url(../img/section-work-bg2.jpg);
}

.tabs-item__right-bg3 {
    background-image: url(../img/section-work-bg3.jpg);
}

.tabs-item__right-bg4 {
    background-image: url(../img/section-work-bg4.jpg);
}


/* section-question */

.section-question {
    margin-bottom: 100px;
}

.section-question__title {
    margin-bottom: 43px;
}

.accordion {
    font-family: Montserrat;
}

.accordion__item {
    position: relative;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 29px;
    line-height: 32px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #cacaca;
    cursor: pointer;
    transition: border .3s ease, fill 3s ease;
}

.accordion__item {
    margin-top: -1px;
}

.ui-icon {
    display: none;
}

.accordion__item:first-child {
    border-top: 1px solid #CACACA;
}

.accordion__item svg ellipse,
.accordion__item svg path {
    transition: fill .3s ease;
}

.accordion__item:focus,
.accordion__item:hover {
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
}

.accordion__item:focus .ui-accordion-header {
    color: #FF9900;
}

.accordion__item:focus svg path {
    fill: #FFFFFF;
}

.accordion__item:focus svg ellipse {
    fill: #FF9900;
}

.accordion__item:hover .ui-accordion-header {
    color: #FF9900;
}

.accordion__item:hover svg path {
    fill: #FFFFFF;
}

.accordion__item:hover svg ellipse {
    fill: #FF9900;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    background: transparent;
    border: none;
    color: #333333;
    transition: color .3s ease;
    outline: none;
}

.accordion__header {
    align-self: center;
}

.ui-accordion .ui-accordion-content {
    max-width: 1003px;
    padding: 0;
    padding-top: 30px;
    border: none;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.ui-accordion-content__text:not(:last-child) {
    margin-bottom: 30px;
}

.accordion__slash {
    color: #CACACA;
}

.accordion__select {
    transition: transform .3s ease;
}

.ui-accordion-header-active .accordion__select {
    transform: rotate(45deg);
    transform-origin: center center;
}

.ui-accordion-header-active {
    outline: none;
}


/* footer */

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 50px 0;
    background: #222222;
}

.footer-left {
    display: flex;
    flex-direction: column;
    width: 20.6%
}

.footer__logo {
    margin-bottom: 16px;
}

.footer-list {
    margin-bottom: 90px;
}

.footer-list__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    transition: color .3s ease;
}

.footer-list__link:focus {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}

.footer-list__link:hover {
    color: #FF9900;
}

.footer-list__link:active {
    color: #E1670E;
    outline: none;
}

.social {
    display: flex;
}

.social__link:not(:last-child) {
    margin-right: 25px;
}

.social__link:focus {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}

.social__link:active {
    outline: none;
}

.social__link:hover svg path {
    fill: #FF9900;
}

.social__link:active svg path {
    fill: #E1670E;
}

.footer-center {
    display: flex;
    flex-direction: column;
    width: 32.2%;
}

.footer-center__title {
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 60px;
    color: #CACACA;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form__input {
    height: 60px;
    margin-bottom: 25px;
    padding: 14px 24px;
    background: #414141;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    border: none;
    transition: color .3s ease, background .3s ease;
}

.footer-form__input:focus,
.footer-form__input:hover {
    color: #CACACA;
    background: #666666;
}

.footer-form__input:active {
    background: #666666;
    color: #FFFFFF;
    outline: none;
}

.footer-form__input:focus-visible {
    color: #FFFFFF;
    background: #666666;
    outline: none;
}

.footer-form__input::placeholder {
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea {
    resize: none;
    height: 150px;
    margin-bottom: 32px;
    padding: 14px 24px;
    background: #414141;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    border: none;
    transition: color .3s ease, background .3s ease;
}

.footer-form__textarea:focus,
.footer-form__textarea:hover {
    color: #CACACA;
    background: #666666;
}

.footer-form__textarea:active {
    background: #666666;
    color: #FFFFFF;
    outline: none;
}

.footer-form__textarea:focus-visible {
    color: #FFFFFF;
    background: #666666;
    outline: none;
}

.footer-form__textarea::placeholder {
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.send-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-btn {
    margin-right: 20px;
    padding: 19px 52px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.send-data__label {
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.send-data__checkbox {
    width: 14px;
    height: 14px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20.5%;
}

.footer-right__descr {
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

@media (min-width: 300px) and (max-width: 1280px) {
    /* header */
    .container {
        width: 90.3%;
    }
    .menu {
        top: 0;
        left: 0;
        width: 420px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background: white;
        z-index: 100;
        padding: 39px 0 205px 50px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        transform: translateY(-101%);
        transition: transform .3s ease;
    }
    .menu--active .menu__item:not(:last-child) {
        margin-bottom: 60px;
    }
    .nav .menu .close-btn {
        display: block;
        margin-bottom: 100px;
        cursor: pointer;
    }
    .nav .menu .close-btn svg rect {
        transition: fill .3s ease;
    }
    .nav .menu .close-btn:hover svg rect {
        fill: #FF9900;
    }
    .menu--active {
        transform: none;
        transition: transform .9s ease;
    }
    .menu__link {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .burger svg rect {
        transition: fill .3s ease;
    }
    .burger:focus {
        outline: 2px solid #FF9900;
        outline-offset: 5px;
    }
    .burger:hover svg rect {
        fill: #FF9900;
    }
    .header {
        padding: 24px 0 24px;
    }
    .header__logo {
        width: 150px;
        margin-left: -6px;
    }
    /* hero */
    .hero {
        margin-bottom: 80;
    }
    .hero__container {
        min-height: 668px;
        margin-bottom: 80px;
    }
    .hero__text {
        margin-bottom: 160px;
        padding: 160px 0 0 77px;
        max-width: 850px;
        z-index: 5;
    }
    .hero__title {
        margin-bottom: 16px;
        max-width: 770px;
        font-size: 60px;
        line-height: 73px;
    }
    .hero__descr {
        width: 100%;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
    }
    .swiper-bg-1,
    .swiper-bg-2,
    .swiper-bg-3 {
        min-height: 668px;
    }
    /* about */
    .section-about {
        margin-bottom: 82px;
    }
    .section-about__title {
        margin-bottom: 9px;
    }
    .section-about__descr {
        margin-bottom: 62px;
    }
    .section-about__cards {
        flex-direction: column;
    }
    .section-about__left {
        width: 100%;
        margin-bottom: 32px;
        padding-top: 444px;
    }
    .section-about__right {
        width: 100%;
    }
    .right-article {
        padding: 65px 155px 59px 76px;
    }
    /* work */
    .section-work {
        margin-bottom: 80px;
    }
    .tabs-nav {
        width: 49.5%;
        margin-bottom: 51px;
    }
    .tabs-item--active {
        min-height: 700px;
    }
    .tabs-item__left {
        width: 47.5%;
    }
    .tabs-item__right {
        width: 47.3%;
    }
    .tabs-item__descr {
        margin-bottom: 25px;
    }
    /* question */
    .section-question {
        margin-bottom: 80px;
    }
    .section-question__title {
        margin-bottom: 31px;
    }
    .accordion__header {
        width: 84%;
        font-size: 20px;
    }
    .ui-accordion-content {
        width: 84%;
    }
    /* footer */
    .footer-left {
        width: 28%;
    }
    .footer-center {
        width: 58.5%;
    }
    .footer-right {
        display: none;
    }
    .footer-btn {
        padding: 19px 37px;
    }
}

@media (min-width: 544px) and (max-width: 895px) {
    .container {
        width: 87%;
    }
    /* header */
    .header {
        padding: 8px 0 8px;
    }
    .menu {
        padding: 21px 0 186px 50px;
    }
    /* hero */
    .hero__container {
        min-height: 662px;
    }
    .hero__text {
        margin-bottom: 160px;
        padding: 161px 0 0 40px;
        max-width: 630px;
    }
    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }
    .hero__descr {
        font-size: 18px;
        line-height: 22px;
    }
    /* about */
    .section-about {
        margin-bottom: 80px;
    }
    .section-about__left {
        padding-top: 453px;
    }
    .section-about__left-descr {
        padding: 34px 40px;
    }
    .left-descr {
        width: 62%;
    }
    .right-article {
        padding: 35px 46px 33px 40px;
        align-items: center;
    }
    .right-article__image {
        width: 114px;
    }
    .right-article__preview {
        margin-left: 12px;
    }
    /* work */
    .tabs-nav {
        width: 100%;
    }
    .tabs-item {
        flex-direction: column-reverse;
    }
    .tabs-item__right {
        width: 100%;
        height: 284px;
        margin-bottom: 39px;
        background-position: center center;
    }
    .tabs-item__left {
        width: 100%;
        min-height: 476px;
    }
    .accordion__header {
        width: 86%;
    }
    /* footer */
    .footer-container {
        flex-direction: column-reverse;
    }
    .footer-list {
        display: none;
    }
    .footer-center {
        width: 81%;
        margin-bottom: 50px;
    }
    .footer__logo {
        width: 224px;
        margin-bottom: 12px;
    }
}

@media (min-width: 300px) and (max-width: 543px) {
    .section__title {
        font-size: 24px;
        line-height: 29px;
    }
    /* header */
    .header {
        padding: 16px 0px 14px;
    }
    .header__logo {
        width: 110px;
    }
    .menu {
        width: 100%;
        padding: 23px 41px 55px 15px;
    }
    .menu--active .menu__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .menu__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    .search-menu {
        padding: 18px 15px 18px 15px;
        max-width: 320px;
        right: -14px;
        top: -22px;
        border-radius: 0;
    }
    .search-menu__input {
        width: 222px;
        margin: 0;
    }
    /* hero */
    .hero {
        margin-bottom: 60px;
    }
    .hero__container {
        min-height: 308px;
        margin-bottom: 60px;
        padding: 60px 22px 15px;
        text-align: center;
    }
    .hero__text {
        margin-bottom: 45px;
        padding: 0;
    }
    .hero__title {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 24px;
    }
    .hero__descr {
        margin-bottom: 33px;
        font-size: 12px;
        line-height: 15px;
    }
    .hero__btn {
        align-self: center;
        margin-bottom: 0;
        padding: 12px 31px;
        font-size: 12px;
        line-height: 16px;
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 11px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    /* about */
    .section-about {
        margin-bottom: 61px;
    }
    .section-about__title {
        margin-bottom: 20px;
    }
    .section-about__descr {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 28px;
    }
    .section-about__left {
        padding-top: 72%;
        background-position-y: -7px;
        background-size: 100%;
    }
    .section-about__left-descr {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        background: transparent;
    }
    .left-descr {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #333333;
    }
    .left-descr__btn {
        padding: 10px 41px;
        font-size: 12px;
        line-height: 15px;
        color: #FF9900;
    }
    .right-article {
        flex-direction: column;
        padding: 0;
        border: none;
    }
    .right-article__image {
        margin-bottom: 8px;
    }
    .right-article__preview {
        margin: 0;
    }
    .right-article__title {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .right-article__descr {
        font-size: 14px;
        line-height: 28px;
    }
    /* work */
    .section-work {
        margin-bottom: 61px;
    }
    .section-work__title {
        margin-bottom: 22px;
    }
    .tabs-nav {
        width: 100%;
        margin-bottom: 15px;
    }
    .tabs-nav__btn {
        font-size: 14px;
        line-height: 17px;
    }
    .tabs-item {
        flex-direction: column-reverse;
        min-height: auto;
    }
    .tabs-item__right {
        width: 100%;
        height: 160px;
        margin-bottom: 16px;
        background-position: center center;
    }
    .tabs-item__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }
    .tabs-item__descr {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 28px;
    }
    .tabs-item__btn {
        margin-right: 10px;
        padding: 12px 44px;
        font-size: 12px;
        line-height: 15px;
    }
    .tabs-item__btn-contract {
        padding: 10px 31px;
        font-size: 12px;
        line-height: 15px;
    }
    .tabs-item__left {
        width: 100%;
    }
    /* question */
    .section-question {
        margin-bottom: 61px;
    }
    .section-question__title {
        margin-bottom: 16px;
    }
    .accordion__header {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
    .ui-accordion-content__text {
        font-size: 14px;
        line-height: 28px;
    }
    .accordion__select {
        width: 30px;
        margin-top: -2px;
        margin-right: -2px;
    }
    .footer {
        padding: 32px 0;
    }
    .footer-container {
        flex-direction: column-reverse;
    }
    .footer-list {
        display: none;
    }
    .footer-center {
        width: 100%;
        margin-bottom: 17px;
        padding-bottom: 15px;
        border-bottom: 1px solid #595959;
    }
    .footer-center__title {
        margin-bottom: 21px;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    }
    .footer-form__input {
        padding: 13px 20px 15px;
    }
    .footer-form__input::placeholder {
        font-size: 14px;
        line-height: 32px;
    }
    .footer-form__textarea {
        margin-bottom: 25px;
        padding: 13px 20px 15px;
    }
    .footer-form__textarea::placeholder {
        font-size: 14px;
        line-height: 32px;
    }
    .send-data {
        flex-direction: column;
    }
    .footer-btn {
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 13px 28px;
        font-size: 12px;
        line-height: 15px;
    }
    .footer-left {
        width: 100%;
        align-items: center;
    }
    .footer__logo {
        width: 131px;
        margin-bottom: 2px;
    }
    .social__icon {
        width: 40px;
    }
    .social__link:not(:last-child) {
        margin-right: 16px;
    }
}
